body {
  margin: 0 auto;
  width: 600;
  margin-right: 2em;
  margin-left: 2em;
  padding: 1em;
  font-family: sans-serif;
  margin-top: 1em;
  margin-bottom: 1em;
}



h3 {
  font-family: "Montserrat", sans-serif;
}

h4 {
  text-transform: uppercase;
}

a {
  color: #8c1d40;
}
